body {
  background-image: linear-gradient(to right, #9575cd62, #64b4f665);
}

form {
  margin-top: 5%;
  padding: 3%;
  border-radius: 20px;
}
.layout {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
